*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Londrina Shadow", serif;
}

body h1{
    text-align: center;
    font-size: 10em;
}
body h2{
    text-align: center;
    font-size: 2em;
}

nav{
    background-color: #7a5050;
    color: rgb(247, 173, 252);
    text-align: center;
    padding: 20px 50px 20px 50px;
    display: flex;
    justify-content: space-between;
}
nav a{
    color: rgb(241, 219, 244);
    text-decoration: none;
    font-size: 1.5em;
}

.container {  display: grid;
  grid-template-columns: 1fr 1.25fr 0.85fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "name name name photo"
    "about-me about-me about-me photo"
    "quote1 quote1 quote1 github-link"
    "youtube youtube youtube youtube-link"
    "linkedin linkedin linkedin linkedin-link";
}

.name { grid-area: name; }

.quote1 { grid-area: quote1; }

.github-link { grid-area: github-link; }

.youtube { grid-area: youtube; }

.youtube-link { grid-area: youtube-link; }

.linkedin { grid-area: linkedin; }

.linkedin-link { grid-area: linkedin-link; }

.photo { grid-area: photo; }

.about-me { grid-area: about-me; }


.photo img{
    width: 200px;
    height: 200px;
}

footer{
    background-attachment: fixed;
    background-color: #7a5050;
    color: rgb(247, 173, 252);
    text-align: center;
    padding: 20px;
}